@page
@model WahoClient.Pages.Cashier.Bills.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Bill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Bill.Date" class="control-label"></label>
                <input asp-for="Bill.Date" class="form-control" />
                <span asp-validation-for="Bill.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill.Active" class="control-label"></label>
                <input asp-for="Bill.Active" class="form-control" />
                <span asp-validation-for="Bill.Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill.Descriptions" class="control-label"></label>
                <input asp-for="Bill.Descriptions" class="form-control" />
                <span asp-validation-for="Bill.Descriptions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill.BillStatus" class="control-label"></label>
                <input asp-for="Bill.BillStatus" class="form-control" />
                <span asp-validation-for="Bill.BillStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill.Total" class="control-label"></label>
                <input asp-for="Bill.Total" class="form-control" />
                <span asp-validation-for="Bill.Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill.WahoId" class="control-label"></label>
                <select asp-for="Bill.WahoId" class ="form-control" asp-items="ViewBag.WahoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Bill.UserName" class="control-label"></label>
                <select asp-for="Bill.UserName" class ="form-control" asp-items="ViewBag.UserName"></select>
            </div>
            <div class="form-group">
                <label asp-for="Bill.CustomerId" class="control-label"></label>
                <select asp-for="Bill.CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
