@page
@model WahoClient.Pages.ResetPasswordModel
@{
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Waho</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Waho.styles.css" asp-append-version="true" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/modal.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

</head>
<div class="row d-flex">
    <div class="col-md-4 mx-auto form-container login-container">
        <div class="pb-4 px-3">
            <div class="d-flex mt-4">
                <h1 class="mx-auto d-flex align-items-center">
                    <img src="~/img/wahologo.png" width="50px" height="50px" />Wa<span class="primary-color">Ho</span>
                </h1>
            </div>
            <h3>Đặt lại mật khẩu</h3>
            <hr />
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label class="control-label">Tài khoản</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text span-input-primary" id="basic-addon1"><i class="bi bi-people-fill"></i></span>
                        <input type="text" asp-for="employee.UserName" class="form-control" placeholder="Nhập tên đăng nhập">
                    </div>
                </div>
                <div id="errMessagenew" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label class="control-label">Mật khẩu mới</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text span-input-primary" id="basic-addon1"><i class="bi bi-key-fill"></i></span>
                        <input type="password" asp-for="newPassword" id="password" onchange="checkMap()" class="form-control" placeholder="Nhập mật khẩu mới">
                        <div class="eyebutton input-group-text " id="eyebuttonpassword" onclick="showPassword('password')">
                            <i class="bi bi-eye-slash-fill eye-icon"></i>
                        </div>
                    </div>
                </div>
                <div id="errMessage" class="text-danger"></div>
                <div id="errMessageDup" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label class="control-label">Xác nhận mật khẩu mới</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text span-input-primary" id="basic-addon1"><i class="bi bi-key-fill"></i></span>
                        <input type="password" asp-for="newPasswordConfirm" id="newPassword" onchange="checkMap()" class="form-control" placeholder="Xác nhận mật khẩu mới">
                        <div class="eyebutton input-group-text " id="eyebuttonnewPassword" onclick="showPassword('newPassword')">
                            <i class="bi bi-eye-slash-fill eye-icon"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-3 d-flex justify-content-between">
                    <a asp-page="/Index">Đăng nhập</a>
                    @if (!string.IsNullOrWhiteSpace(@Model.message))
                    {
                        <div id="message" class="text-success" style="font-size:24px">@Model.message</div>
                    }
                </div>
                <div class="form-group text-center mt-5">
                    <button class="btn btn-primary disabled" id="btnSave" type="submit"><i class="bi bi-box-arrow-in-right"></i> Lưu </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>

    function checkMap() {
        var password = $('#password').val();
        var newPassword = $('#newPassword').val();
        if (password !== newPassword) {
            //message
            $('#password').css('border', '2px solid red');
            $('#newPassword').css('border', '2px solid red');
            $('#errMessageDup').html("mật khẩu mới không trùng khớp");
        } else {
            $('#password').css('border', '2px solid green');
            $('#newPassword').css('border', '2px solid green');
            $('#errMessageDup').html("");
        }
        if (password.length < 6) {
            $('#password').css('border', '2px solid red');
            $('#errMessagenew').html("mật khẩu phải có ít nhất 6 ký tự");
        }else{
            $('#password').css('border', '2px solid green');
            $('#errMessagenew').html("");
        }
        if (newPassword.length < 6) {
            $('#newPassword').css('border', '2px solid red');
            $('#errMessage').html("mật khẩu phải có ít nhất 6 ký tự");
        }else{
            $('#newPassword').css('border', '2px solid green');
            $('#errMessage').html("");
        }
        if (password === newPassword && password.length >= 6 && newPassword.length >= 6) {
            $('#btnSave').removeClass('disabled');
        }
    }
    function showPassword(id) {
        var passwordType = $('#' + id).attr('type');
        if (passwordType === 'password') {
            $('#eyebutton'+ id).html("");
            $('#eyebutton' + id).html('<i class="bi bi-eye-fill"></i>');
            $('#' + id).attr('type', 'text');
        } else {
            $('#eyebutton' + id).html("");
            $('#eyebutton' + id).html(`<i class="bi bi-eye-slash-fill eye-icon"></i>`);
            $('#' + id).attr('type', 'password');
        }
    }
</script>
